<div class="<%= styles.counter %>">
	<div class="<%= styles.number %>"><%= number %></div>
	<div class="btn-group">
		<button class="<%= styles.btn %> minus">-</button>
		<button class="<%= styles.btn %> plus">+</button>
	</div>
</div>
